<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contratame</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card-header>
    <ion-card-title>Acerca De</ion-card-title>
  </ion-card-header>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets/meri.png" />
    <ion-card-header>
      <ion-card-subtitle>nite.0802@gmail.com</ion-card-subtitle>
      <ion-card-subtitle>Cel: 829-931-9431</ion-card-subtitle>
      <ion-card-subtitle>GitHub: https://github.com/MerilynPerez</ion-card-subtitle>
      <ion-card-title>Merilyn Perez</ion-card-title>
      
    </ion-card-header>
  
    <ion-card-content>
      Este es un pequeño proyecto de aplicaciones moviles, esta muy bien hecho asi que contrateme, no se arrepentira.
    </ion-card-content>
  </ion-card>

 
  
</ion-content>
